.container{
    width: 100%;
    position: relative;
}

.LoginButton{
    position: absolute;
    right: 150px;
    top: 10px;
    width: auto;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}