.input {
    position: absolute;
    display: block;
    width: 20%;
    right: 40%;
    margin-top: 10px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  