@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    height: 100%;
    margin: 0;
    padding: 0;
}

.Card{
    width: 100%;
    height: 100%;
    background-color: #F6F1F1;
}

.h1{
    /* padding-top: 120px; */
    padding-left: 30px;
    font-size: 50px;
    font-family: 'MapoPeacefull';
    /* background-color: beige; */
    /* margin-top: 60px; */
}