.container{
    /* background-color: aqua; */
    width: auto;
    height: 200px;
    position: relative;
    margin-left: 35px;
    margin-top: 50px;
}

.ul{
    position: absolute;
}

.li{
    height: auto;
    width: 300px;
    font-size: 20px;
}